html {
   scroll-behavior: smooth;
}

body {
   font-size: 90%;
}

h2 {
   font-size: 1.25rem !important;
   font-weight: 500 !important;
}
h1 {
   font-size: 2.5rem !important;
}
* {
   font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar-track {
   background-color: transparent;
}

::-webkit-scrollbar {
   width: 14px;
   height: 50px;
   background-color: transparent;
}

::-webkit-scrollbar-thumb {
   background-color: #2c5784;
}

/*.recentDiv {
   position: relative;
   width: 50%;
}*/

.recentImg {
   height: 180px !important;
   transition: 0.5s ease;
   backface-visibility: hidden;
}

.middle {
/*   transition: 0.5s ease;
   opacity: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: center;*/

     position: absolute;
  top: 0;
  bottom: 0;
  left: 50;
  right: 50;
  height: 100%;
  width: 92%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2c5784;
    /*width: 100%;
   height: 285px;*/
   object-fit: cover;
   object-position: top;
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
   /*border-radius: 10%;*/
}
/*.recentImg:hover {

    transform: scale(1.1);
}*/
.recentDivCont {
  position: relative;
  width: 50%;
}

.recentImgCont {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.recentDivCont:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.recentDiv:hover .recentImg {
   opacity: 0.3;
}

.recentDiv:hover .middle {
   opacity: 1;
     cursor: pointer;
}

/*.recentText {
   background-color: #2c5784;
   color: white;
   font-size: 16px;
   padding: 16px 32px;
}*/
.recentText {
  color: white;
  font-size: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.navbarHead {
   background: #fff !important;
}
.navbarMove {
   background: #2c5784;
}

#landing {
   background-color: white;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
#landing h1 {
   font-weight: 700;
}

#landing p.title {
   font-size: 1.25rem;
   font-weight: 600;
   margin-bottom: 1.5rem;
}

.btn-primary {
   background-color: #2c5784 !important;
   border-color: #2c5784 !important;
}
.btn-outline-primary {
   color: #2c5784 !important;
   border-color: #2c5784 !important;
}
.navbarIcon {
   color: #2c5784 !important;
}
.navbarLight {
   color: white !important;
}

#about {
   background-color: #f6f8f2;
   position: relative;
}

#about h2 {
   color: white;
   transition: 0.5s;
   text-align: center;
   margin-bottom: 3rem;
   position: relative;
}

#about div.primary-accent {
   position: absolute;
   content: "";
   background-color: #2c5784;
   top: 0;
   left: 0;
   right: 0;
   bottom: 65%;
   transition: 1s;
}

#about img {
   max-width: 100%;
   height: auto;
   object-fit: cover;
}

#about figure {
   max-width: 250px;
   margin: auto;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}
/*md*/
@media (min-width: 768px) {
   body {
      font-size: 100%;
   }

   #about h2 {
      color: #2c5784;
      text-align: left;
   }
   #about div.primary-accent {
      bottom: 0%;
      right: 60%;
   }

   #about figure {
      max-width: 300px;
      margin: 0 0 0 auto;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
   }
}

@media (min-width: 992px) {
   #about figure {
      max-width: 350px;
   }
}

@media (min-width: 1200px) {
   .container {
      max-width: 1140px !important;
   }
}

#portfolio h2 {
   color: #2c5784;
   margin-bottom: 0;
}
@media (min-width: 768px) {
   #portfolio {
      position: relative;
   }
   #portfolio:after {
      position: absolute;
      top: 0;
      left: 50%;
      right: 0;
      bottom: 0;
      content: "";
      background-color: #2c5784;
      z-index: -1;
   }
}

#portfolio-entries .entry:nth-child(2) {
   background-color: #2c5784;
   color: white;
}

.entry {
   padding-top: 2.5rem;
   padding-bottom: 1.5rem;
}

.entry h3 {
   margin-bottom: 1.75rem;
}
.entry .demo-link {
   margin: 2.5rem 0;
}

.entry .screenshots figure {
   width: 50%;
}
.entry .screenshots figure img {
   height: 150px;
   width: 100%;
   object-fit: cover;
   object-position: top;
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.entry .screenshots figure:nth-child(odd) {
   padding: 0 5px 0 0;
}
.entry .screenshots figure:nth-child(even) {
   padding: 0 0 0 5px;
}

#link-to-portfolio {
   background-color: #f6f8f2;
   text-align: center;
   font-size: 1.5rem;
   color: #2c5784;
}
h3 {
   font-size: 1.5rem !important;
   font-weight: 700 !important;
}
h2 {
   color: #2c5784;
}

#contact .headline {
   font-size: 1.5rem;
   font-weight: 700;
}

#footer {
   font-family: Montserrat, sans-serif;
   font-weight: 400;
   line-height: 1.5;
   text-align: left;
   font-size: 90%;
   box-sizing: border-box;
   display: block;
   padding: 2.5rem 0;
   background-color: #2c5784;
   color: #fff;
}

#footer #social-icons i {
   margin: 0 0.5rem;
   color: #fff !important;
}

#page-section-header {
   background-color: #2c5784;
   padding: 8rem 0 5rem;
   color: #fff;
}

#errorPage {
   background-color: white;
   height: 100vh;
   color: #2c5784;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2.5rem;
}
#errorPage .message {
   color: black;
   font-size: 1rem;
}

#portfolio-page .portfolio-cont .portfolio-row {
   padding: 3.25rem 0;
}

#portfolio-page .portfolio-cont .portfolio-row dd.title {
   color: #2c5784;
   font-size: 2rem;
}

#portfolio-page .portfolio-cont .portfolio-row dd {
   margin-bottom: 1.5rem;
   margin-left: 1.2rem;
 margin-right: 1.2rem;
}

.portfolio-entry-image {
   position: relative;
   width: 100%;
}
.portfolio-entry-image img {
   width: 100%;
   height: 285px;
   object-fit: cover;
   object-position: top;
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
   /*border-radius: 10%;*/
}

.portfolio-entry-container {
   display: flex;
   flex-wrap: wrap;
}

#portfolio-page .portfolio-cont:nth-child(even) {
   background-color: #f6f8f2;
}
/*sm*/
@media (min-width: 576px) {
   /*.portfolio-entry-container{
   width: 50%;
}*/
   .portfolio-entry-image {
      width: 50%;
   }
   .portfolio-entry-image {
      padding: 0 0.5rem;
   }
}
@media (min-width: 768px) {
   .recentText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
   #portfolio-page .portfolio-cont .portfolio-row {
      padding: 5.25rem 0;
   }
}

#portfolio-page .portfolio-cont .portfolio-row .portfolio-entry-container .portfolio-entry-image:nth-child(odd) {
   margin-bottom: 1rem;
}

.title a {
   color: #2c5784 !important;
   text-decoration: none !important;
   background-color: transparent !important;
}

.paraPort a {
   color: #2c5784 !important;
   text-decoration: none !important;
   background-color: transparent !important;
}
.demoLink {
    margin-left: 1.2rem;
 }

 .btn-outline-primary:hover {
    background-color:#2c5784 !important;
    color: white !important;
 }

 .toWhite:hover {
    background-color: white !important;
    color: #2c5784 !important;
 }